/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/config/menu.php
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
credentials.json
/public/credentials.json
/public/doc/definitivi_idonei/*
/public/doc/definitivi_non_idonei/*
/public/doc/master/*
/public/doc/master_old/*
/public/doc/leggi_master.txt
/config/filesystems.php
/database/migrations/old/*
/.fleet
/.idea
/.vscode
